@charset "utf-8";

.navfoco a:hover,.form button:focus {
  transform: translateY(-4px);
}
.navfoco a:active {
  transform: translateY(2px);
}

.navfoco button:hover,.form button:focus {
  background: #dc3545;
    box-shadow: 0 5px 10px rgb(220 53 69 / 20%);
  transform: translateY(-4px);
}
.navfoco button:active {
  transform: translateY(2px);
  box-shadow: 0 2.5px 5px rgb(220 53 69 / 20%);
}

.navfoco button {
  font-family: "Titillium Web", sans-serif;
  font-size: 14px;
  font-weight: bold;
  outline: 0;
  height: 54px;
  width: 119px;
  border: 0;
  border-radius:30px;
  margin: 0px 0px 8px;
  color: #FFFFFF;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  transition: all 0.2s;


}